.footer {
    background-color: #082c22;
    color: white;
    padding: 20px 0;
   
    width: 100%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
  }
  
  .footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  .social-media a {
    color: white;
    margin-right: 10px;
    font-size: 18px;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 12px;
    color: lightgray;
  }
  